extends main.jade

block content
  div(class='container')
    div(class='jumbotron')
      h1
        | Rag Cage
      p
        | Mysterious hats with great power have started showing up all over 
        | the world. Show everyone that you’re the true hat master by defeating 
        | everyone in a last man standing death match, using the hats on your 
        | path to victory. Get ready to rumble!!!
      p
        a(class='btn btn-lg btn-primary', disabled='disabled', href='#downloadlink', role='button')
          | Download
