extends main.jade

block styles
  link(rel='stylesheet', href='../dist/css/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='../dist/css/flat-ui.css')
  link(rel='stylesheet', href='../style.css')

block header
  div(class='navbar navbar-inverse navbar-static-top', role='navigation')
    div(class='container')
      div(class='navbar-header')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
          span(class='sr-only') Toggle navigation
        a(class='navbar-brand', href='../index.html') Deerstalker

      div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav')
          li
            a(href='#media') Media
          li
            a(href='../designdoc.html') Design Document
          li
            a(href='../team.html') Team + Reports
            
block content
  div(class='container')
    block report

block script
  script(src='../dist/js/vendor/jquery.min.js')
  script(src='../dist/js/flat-ui.min.js')
