extends main.jade

block styles
  link(rel='stylesheet', href='style.css')

block content
  div(class='container')
    div(class='container')
      img(src='img/team.jpg', class='center-block img-rounded img-responsive')
      p(class='text-center lead') Team bs
      
    div(class='row')
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/atyansh.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Atyansh Jaiswal
          p Bitcoin Huckster
          a(class='btn btn-primary btn-large btn-block', href='reports/atyansh.html') Reports
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/victor.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Victor Alor
          p Team Treasurer/Consultant
          a(class='btn btn-primary btn-large btn-block', href='reports/victor.html') Reports
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/eddy.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Eduardo Ramirez
          p Team Stefan/Copyright Consultant
          a(class='btn btn-primary btn-large btn-block', href='reports/eduardo.html') Reports
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/brian.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Brian KJ Choi 
          p Undertaker
          a(class='btn btn-primary btn-large btn-block', href='reports/brian.html') Reports
          
    div(class='row')
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/cindy.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Cindy Vu
          p Indecisive Graphics
          a(class='btn btn-primary btn-large btn-block', href='reports/cindy.html') Reports
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/timothy.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Timothy Kua
          p Caffeine Dealer
          a(class='btn btn-primary btn-large btn-block', href='reports/timothy.html') Reports
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/tiffany.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Tiffany Lam
          p Artist
          a(class='btn btn-primary btn-large btn-block', href='reports/tiffany.html') Reports
      div(class='col-sm-6 col-md-3')  
        div(class='tile')
          img(src='img/yebot.jpg', class='img-rounded tile-image')
          h3(class='tile-title') Yebot 
          p Shaman
          a(class='btn btn-primary btn-large btn-block', href='reports/yebot.html') Yereports
