extends ../report

block report
  h2 Deerstalker's reports
  h3(class='titles') Week 8
  p
    | 
    
  img(src='../img/img_week8_1.png', class='center-block img-rounded')
  p(class='img-comment') 
    | Picture comment
  p
    | 
  br
  p
    a(href='') Here’s a video of our progress
  br
  p
    | 
  img(src='../img/img_week8_2.png', class='center-block img-rounded')
  p(class='img-comment') 
    | Picture comment
  br

block video
  script(src='https://vjs.zencdn.net/4.7/video.js')
