extends ../report

block report
  h2 Deerstalker's reports
  h3(class='titles') Week 9
  p
    | Lots of hat abilities were implemented. Grabbing and more gameplay in. Basic sound.
      
  p
    | Graphics wise we were able to get the UI elements to show as well as getting a nice cloud floor.

  p
    | Probably write a more detailed report later when we have time.
  
  br

block video
  script(src='https://vjs.zencdn.net/4.7/video.js')
