extends ../main.jade

block styles
  link(rel='stylesheet', href='/cse125-teampage/style.css')
  
block content
  div(class='container')
    h1 Brian's reports
    h2(class='titles') Week 2
    h6(class='subtitles') Concrete Goals
    p
      | - Setup the networking environment to run the game with 4 players
      br
      | - Learn and have a solid understanding in Boost Asio
      
    h6(class='subtitles') Goals Accomplished
    p
      | - Set up the configuration file so that we can easily switch settings while testing
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | Lack of knowledge in networking

    h6(class='subtitles') Goals for Next Week 
    p
      | - Look into network logging frameworks and implement
    
    h6(class='subtitles') Morale
    p
      | Max
