extends ../main.jade

block styles
  link(rel='stylesheet', href='../dist/css/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='../dist/css/flat-ui.css')
  link(rel='stylesheet', href='../style.css')
  
block header
  include ./innerHeader
  
block content
  div(class='container')
    h2 Brian's reports
    h3(class='titles') Week 3
    h6(class='subtitles') Concrete Goals
    p
      | - Learn and master Bullet
      
    h6(class='subtitles') Goals Accomplished
    p
      | - Started learning about Bullet
      br
      | - Helped test the new client-server model we implemented
      br
      | - Helped troubleshoot the lag between the client and the server
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | - We decided that implementing physics should be given a higher priority 
      | than setting up the network logging mechanism

    h6(class='subtitles') Goals for Next Week 
    p
      | - Understand the basics of Bullet and come up with a list of features 
      | that can be applied to our project
    
    h6(class='subtitles') Morale
    p
      | Max

    br
    
    h3(class='titles') Week 2
    h6(class='subtitles') Concrete Goals
    p
      | - Setup the networking environment to run the game with 4 players
      br
      | - Learn and have a solid understanding in Boost Asio
      
    h6(class='subtitles') Goals Accomplished
    p
      | - Set up the configuration file so that we can easily switch settings while testing
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | Lack of knowledge in networking

    h6(class='subtitles') Goals for Next Week 
    p
      | - Look into network logging frameworks and implement
    
    h6(class='subtitles') Morale
    p
      | Max

    br
    
block script
  script(src='../dist/js/vendor/jquery.min.js')
  script(src='../dist/js/flat-ui.min.js')
