extends ../main.jade

block styles
  link(rel='stylesheet', href='../dist/css/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='../dist/css/flat-ui.css')
  link(rel='stylesheet', href='../style.css')
  
block content
  div(class='container')
    h2 Cindy's reports
    h3(class='titles') Week 2
    h6(class='subtitles') Concrete Goals
    p
      | - Setup the basic framework with OpenGL 4.0, as in shaders, lighting, camera, etc.
      
    h6(class='subtitles') Goals Accomplished
    p
      | - OpenGL and now load obj files, shaders and display models
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | - There was a lot of issues in setting up OpenGL because it is hard to 
      | debug OpenGL when generating buffers and drawing. There was also an 
      | issue with parsing models and loading in the data to the buffers.

    h6(class='subtitles') Goals for Next Week 
    p
      | - Finish the framework, add camera and light classes.
    
    h6(class='subtitles') Morale
    p
      | - Slightly sad on how long it took to set up the VAO/VBO stuff (Shout out 
      | to teammate Tim for the help though). But trying to be optimistic about 
      | the next week. Naturally a pessimist so trying to be optimistic is the best I can do.
    img(src='http://mashable.com/wp-content/uploads/2013/07/Supernatural-Dean.gif', class='img-rounded')

    br

block script
  script(src='../dist/js/vendor/jquery.min.js')
  script(src='../dist/js/flat-ui.min.js')
