extends ../main.jade

block styles
  link(rel='stylesheet', href='/cse125-teampage/style.css')
  
block content
  div(class='container')
    h2 Eduardo's reports
    h3(class='titles') Week 2
    h6(class='subtitles') Concrete Goals
    p
      | - Setup the basic framework of networking and game design 
      
    h6(class='subtitles') Goals Accomplished
    p
      | - Helped with the implmentation of multiplayer (broadcast)
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | - Still in the set up of process. Most of that work seems to be doable
      | by a few people. Need to spend more time on the project to start doing 
      | more work.

    h6(class='subtitles') Goals for Next Week 
    p
      | - Learn bullet to help with physics
      br
      | - Check what else is needed in the set up of the infrastructure
    
    h6(class='subtitles') Morale
    p
      | - Could be better.
    img(src='https://media.giphy.com/media/E90GssJoIqMRW/giphy.gif', class='img-rounded')

    br
