extends ../main.jade

block styles
  link(rel='stylesheet', href='/cse125-teampage/style.css')
  
block content
  div(class='container')
    h2 Deerstalker's reports
    h3(class='titles') Week 2
    p
      | Things are going well so far. We have set up a basic framework for both 
      | Graphics and Networking and have managed to integrate them together.
      br
      | Here’s a video of our progress showing the Networking and Graphics code 
      | working in tandem-
    div(class='myVideo center-block')
      video(class='myVideo video-js', preload='auto', poster='', data-setup='{}')
        source(src='/cse125-teampage/img/screen.mp4', type='video/mp4')
      p(class='img-comment') Example shows 4 clients.
    p
      | While there's a singular cube, the movements of the cube are sent over 
      | the network to the server, which then broadcasts the movements to all the
      | clients connected to the server. With multiple cubes, we could make each 
      | client move a particular cube as well. The framerate is normally 
      | maintained at 60fps but slows down due to video recording software.
    p
      | On the graphics side, we have loading models, applying shaders and 
      | textures done. Now we are beginning to add in lighting and cameras.
    img(src='http://i.imgur.com/aqOt5WE.png', class='center-block img-rounded')
    br
    p
      | As you can see from the image above, there is a model loaded and textured
      | applied onto it using shaders. There is no lighting, which is why it is 
      | so dark. Please note that this model will not appear in our game. It 
      | was part of a tutorial followed to setup shaders.

    br
