extends ../main.jade

block styles
  link(rel='stylesheet', href='../dist/css/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='../dist/css/flat-ui.css')
  link(rel='stylesheet', href='../style.css')
  
block header
  include ./innerHeader
  
block content
  div(class='container')
    h2 Deerstalker's reports
    h3(class='titles') Week 3
    p
      | Things are still going pretty well. We achieved our major milestone of 
      | integrating Physics and new Graphics models to create a mini game of 
      | movable and colliding mangos. Currently the mangos are setup as simple 
      | boxes in the physics engine. Here’s a video of showing the physics
      | engine in action with the new models.
      br
    div(class='myVideo center-block')
      video(class='myVideo video-js', preload='auto', poster='', data-setup='{}')
        source(src='../img/vid_week2_1.mp4', type='video/mp4')
      p(class='img-comment') 
        | One client shows the mango models, while the other client shows the 
        | actual shape of the cube objects for a better perspective.
    p
      | This was a huge milestone for us since this involved implementing the 
      | full server/game loop and moving all the game logic to server side 
      | (along with integration of Physics).
    p
      | Along with that, our artist has been hard at work on designing concept 
      | art for our game and modeling them in 3d. Here’s some pictures of the progress-
    img(src='../img/img_week2_1.png', class='center-block img-rounded')
    p(class='img-comment') 
      | Some Concept Art
    img(src='../img/img_week2_3.png', class='center-block img-rounded')
    p(class='img-comment') 
      | Level themed costumes
    img(src='../img/img_week2_2.png', class='center-block img-rounded')
    p(class='img-comment') 
      | Some interesting Hat Designs along with character concept art. 
    img(src='../img/img_week2_4.png', class='center-block img-rounded')
    p(class='img-comment') 
      | Character Design
    img(src='../img/img_week2_5.png', class='center-block img-rounded')
    p(class='img-comment') 
      | 3D modeling.
    br
    p
      | We’ve also been testing our game over the network with multiple
      | computers and have been having a bit too much fun playing around.
    div(class='myVideo center-block')
      video(class='myVideo video-js', preload='auto', poster='', data-setup='{}')
        source(src='../img/vid_week2_2.mp4', type='video/mp4')
    br
    
    h3(class='titles') Week 2
    p
      | Things are going well so far. We have set up a basic framework for both 
      | Graphics and Networking and have managed to integrate them together.
      br
      | Here’s a video of our progress showing the Networking and Graphics code 
      | working in tandem-
    div(class='myVideo center-block')
      video(class='myVideo video-js', preload='auto', poster='', data-setup='{}')
        source(src='../img/screen.mp4', type='video/mp4')
      p(class='img-comment') Example shows 4 clients.
    p
      | While there's a singular cube, the movements of the cube are sent over 
      | the network to the server, which then broadcasts the movements to all the
      | clients connected to the server. With multiple cubes, we could make each 
      | client move a particular cube as well. The framerate is normally 
      | maintained at 60fps but slows down due to video recording software.
    p
      | On the graphics side, we have loading models, applying shaders and 
      | textures done. Now we are beginning to add in lighting and cameras.
    img(src='http://i.imgur.com/aqOt5WE.png', class='center-block img-rounded')
    br
    p
      | As you can see from the image above, there is a model loaded and textured
      | applied onto it using shaders. There is no lighting, which is why it is 
      | so dark. Please note that this model will not appear in our game. It 
      | was part of a tutorial followed to setup shaders.

    br

block video
  script(src='https://vjs.zencdn.net/4.7/video.js')
  
block script
  script(src='../dist/js/vendor/jquery.min.js')
  script(src='../dist/js/flat-ui.min.js')
