extends ../main.jade

block styles
  link(rel='stylesheet', href='../dist/css/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='../dist/css/flat-ui.css')
  link(rel='stylesheet', href='../style.css')
  
block header
  include ./innerHeader
  
block content
  div(class='container')
    h2 Timothy's reports
    h3(class='titles') Week 3
    h6(class='subtitles') Concrete Goals
    p
      | - Setup the shaders with directional lighting
      br
      | - Work on getting the mango working with our OBJ loader
      
    h6(class='subtitles') Goals Accomplished
    p
      | - Directional lighting is setup
      br
      | - Got the mango working with our model loader
      br
      | - Helped a bit with integrating new graphics code with server code
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | - N/A

    h6(class='subtitles') Goals for Next Week 
    p
      | - Have some skeleton animation working

    h6(class='subtitles') Morale
    p
      | - Going smoothly so far, glad that the merging wasn’t too bad

    br
    
    h3(class='titles') Week 2
    h6(class='subtitles') Concrete Goals
    p
      | - Setup the basic framework with modern OpenGL with shader, lighting, camera and parsers
      br
      | - Integrate basic client server calls with graphics
      
    h6(class='subtitles') Goals Accomplished
    p
      | - Was able to get a cube to move from keyboard commands
      br
      | - Basic graphic framework was setup to render cube
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | - Integrating the shader with an OBJ parser was more difficult than we thought

    h6(class='subtitles') Goals for Next Week 
    p
      | - Finish integrating the parsers with shaders
      br
      | - Refactor to incorporate lighting and camera
      br
      | - Start full client server relationship
    
    h6(class='subtitles') Morale
    p
      | - not much caffeine was dealt out

    br

block script
  script(src='../dist/js/vendor/jquery.min.js')
  script(src='../dist/js/flat-ui.min.js')
