extends ../main.jade

block styles
  link(rel='stylesheet', href='/cse125-teampage/style.css')
  
block content
  div(class='container')
    h2 Victor's reports
    h3(class='titles') Week 2
    h6(class='subtitles') Concrete Goals
    p
      | -  Design physics system.
      
    h6(class='subtitles') Goals Accomplished
    p
      | - Failed to move design process to beyond how objects and forces will 
      | be represented and managed. I still need to develop the logic of how 
      | forces will affect each other.
      
    h6(class='subtitles') Reasons for Unaccomplished Goals
    p
      | - Physics

    h6(class='subtitles') Goals for Next Week 
    p
      | - Establish and implement how forces and objects will interact with each other.
      br
      | - Also tell team I have an idea about how to implement physics.
    
    h6(class='subtitles') Morale
    p
      | - 7

    br
