extends ../report.jade

block report
  h2 Atyansh's reports
  h3(class='titles') Week 8
  h6(class='subtitles') Concrete Goals
  p
    | - Start refining the gameplay. Add more hat interactions other than shooting.
  
  h6(class='subtitles') Goals Accomplished
  p
    | - Added more logic on the hat side 
    br
    | - Implemented more hat logic and divided them into primary and 
    | secondary abilities (Secondary ability logic is in, but need to code the gameplay).
    br
    | - Implemented rotational physics specifically for orientations refining bullet shooting.
    br
    | -  Refactored code and merged server/graphics

  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A
    
  h6(class='subtitles') Goals for Next Week 
  p
    | - Work on game logic
    br
    | - Add more fighting elements to the game.


  h6(class='subtitles') Morale
  p
    | really good
  br
