extends ../report.jade

block report
  h2 Atyansh's reports
  h3(class='titles') Week 7
  h6(class='subtitles') Concrete Goals
  p
    | - Finish Player Controls
    br
    | - Make movement work with new camera
    br
    | - Get new level in the physics engine
    br
    | - Add client logic to interact with items and bullets
    br
    | - Merge everyone’s code together
        
  h6(class='subtitles') Goals Accomplished
  p
    | - Pretty much accomplished all the tasks I set out for this week. Also 
    | fixed a bunch of server-client issues that were popping up recently.

  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/a
    
  h6(class='subtitles') Goals for Next Week 
  p
    | - Start refining the gameplay. Add more hat interactions other than shooting.

  h6(class='subtitles') Morale
  p
    | [8] - Much better morale since we were able to do a lot as a team this week :D
  br
