extends ../report.jade

block report
  h2 Atyansh's reports
  h3(class='titles') Week 4
  h6(class='subtitles') Concrete Goals
  p
    | - Controller Integration
    br
    | - Load Compound models in Bullet
    br
    | - Work more on game logic
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Controller Integration - This was simple enough
    br
    | - Was able to create a compound rigid body of the mango in Maya and load it in Bullet
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Had a really slow week since most of us including myself were busy with other events.
    br
    | - Maya was notoriously difficult to learn. I tried to play around with the 
    | bullet plugin in Maya a bit but currently not sure about to make more complex 
    | physical models with multiple rigid bodies.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Start fleshing out the game within the engine
    br
    | - Look into kinematic bodies and see if that’s a better alternative for player physics
    br
    | - Interact with Graphics team more to get a features on the graphics side 
    | done so I can improvement my own game development flow. Currently feeling a bit blocked.

  h6(class='subtitles') Morale
  p
    | [5] - Been stressed from low progress, but I’m hopeful it will get better.

  br
