extends ../report.jade

block report
  h2 Atyansh's reports
  h3(class='titles') Week 9
  h6(class='subtitles') Concrete Goals
  p
    | - Work on gameplay
  
  h6(class='subtitles') Goals Accomplished
  p
    | - Did a lot more work. Still working and will show in demo.

  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/a

  h6(class='subtitles') Goals for Next Week 
  p
    | - Everything else
    
  h6(class='subtitles') Morale
  p
    | [8] - Good but need to work more.
    
  br
