extends ../report.jade

block report
  h2 Atyansh's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p
    | - Work more on game logic. Get the item spawning logic that Brian wrote 
    | integrated within the game. Get dynamic controllers working. Work more 
    | closely with graphics team to get some more models like hats for items etc. 
    | Start looking into sound integration for the game.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Had a pretty poor week in terms of development. Did more work on item 
    | interaction and have more of the game logics set up although most of it is
    | in very rough stages, so I couldn’t get anything new to demo stage.

  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Lack of motivation this week. I’m going to step up this week to catch up
    | on lost progress last week.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Set up Dynamic Character Controller
    br
    | - Work on hat logic and interaction
    br
    | - Sound integration
    br
    | - Lobbying
    br
    | - Level Design

  h6(class='subtitles') Morale
  p
    | [5] - Low morale because of low progress and stress. I’m feeling a bit 
    | more pessimistic about meeting personal goals.
  br
