extends ../report.jade

block report
  h2 Atyansh's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p
    | - This week my goal was to catch up on last week’s inactivity and make 
    | our game reach closer to a minimum viable product. This involved a lot of 
    | integration work and coordination with all the members of the team.
    br
    | - Get player models loaded into the game that can shoot mangos, have item spawning.
    br
    | - Use Kinematic Controller interfaces from Bullet to control players instead of basic rigid bodies.
    br
    | - Get some more Graphics stuff integrated within the game.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Worked with Cindy and helped her debug issues with the camera and skybox
    | and merged the changes with existing code base.
    br
    | - Worked a bit with Brian and played more with Bullet to get item spawning logic done.
    br
    | - Integrated Eddy and Victor’s bullet shooting mechanics in the game.
    br
    | - Spent a lot of time working and communicating with all the members to 
    | form a more cohesive environment.

  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Miserably failed at integrating kinematic controllers to control players.
    | Bullet’s Kinematic Controllers have serious issues that they themselves 
    | acknowledge. Spent several hours only to really understand the non-feasibility
    | of kinematic controllers. Other people have implemented dynamic controllers 
    | for bullet which I’m now looking into as an alternative along with Eddy and Victor.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Work more on game logic. Get the item spawning logic that Brian wrote 
    | integrated within the game. Get dynamic controllers working. Work more 
    | closely with graphics team to get some more models like hats for items etc. 
    | Start looking into sound integration for the game.

  h6(class='subtitles') Morale
  p
    | [8] - Feeling better than last week because we now have a cool looking world to play around with.
    
  br
