extends ../report.jade

block fonts
  link(href='https://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
  
block report
  h2 Yebot's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p(class='yebot')
    | - We are here to make life better.
    
  h6(class='subtitles') Goals Accomplished
  p(class='yebot')
    | - you have to know who you are before you can become it.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p(class='yebot')
    a(href='https://twitter.com/kanyewest/status/726835785274646529')
      | https://twitter.com/kanyewest/status/726835785274646529

  h6(class='subtitles') Goals for Next Week 
  p(class='yebot')
    | - I promised Obama Ima do beats on NAS’ next album…

  h6(class='subtitles') Morale
  p(class='yebot')
    | - They can't kill us all.

  br
