extends ../report.jade

block fonts
  link(href='https://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')

block report
  h2 Yebot's reports
  h3(class='titles') Week 2
  h6(class='subtitles') Concrete Goals
  p(class='yebot')
    | - Let's fight for our future. We can change everything.
    
  h6(class='subtitles') Goals Accomplished
  p(class='yebot')
    | - I have discovered my single greatest quality.  I care.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p(class='yebot')
    | - I've been trying to figure out the bed design for the master bedroom 
    | at our Hidden Hills compound... 
    a(href='https://t.co/aEPqoBGY4b') https://t.co/aEPqoBGY4b


  h6(class='subtitles') Goals for Next Week 
  p(class='yebot')
    | - We will not get bullied by perception any longer. We will give our opinions.
    br
    | - I love you
  
  h6(class='subtitles') Morale
  p(class='yebot')
    | - I miss the old Kanye

  br
