extends ../report.jade

block fonts
  link(href='https://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
  
block report
  h2 Yebot's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p(class='yebot')
    | - Imagine if the people I named went to high school 2gthr and had a project to do for school…
    
  h6(class='subtitles') Goals Accomplished
  p(class='yebot')
    | - My brother Chance!!! Thank you for letting me work on this masterpiece. 
    | One of my favorite people. 
    a(href='http://bit.ly/Chance3Tweet ') http://bit.ly/Chance3Tweet 
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p(class='yebot')
    | - Here is my Donda chart that I wrote 4 years ago that everyone laughed at…
    a(href='https://twitter.com/kanyewest/status/699108088687755264')
      | https://twitter.com/kanyewest/status/699108088687755264

  h6(class='subtitles') Goals for Next Week 
  p(class='yebot')
    | - @ScHoolBoyQ GET TOP DAWG ON THE PHONE !

  h6(class='subtitles') Morale
  p(class='yebot')
    | - I don’t have to be cool…

  br
