extends ../report.jade

block fonts
  link(href='https://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
  
block report
  h2 Yebot's reports
  h3(class='titles') Week 3
  h6(class='subtitles') Concrete Goals
  p(class='yebot')
    | - Let's fight for our future. We can change everything.
    
  h6(class='subtitles') Goals Accomplished
  p(class='yebot')
    | - See I invented Kanye
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p(class='yebot')
    | -
    a(href='https://twitter.com/kanyewest/status/720438978655027201') 
      | https://twitter.com/kanyewest/status/720438978655027201


  h6(class='subtitles') Goals for Next Week 
  p(class='yebot')
    | - We will change that. We will rise.  We will have a voice.

  h6(class='subtitles') Morale
  p(class='yebot')
    | - I hate the new Kanye

  br
