extends ../report.jade

block report
  h2 Cindy's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p
    | - Finish camera rework and attach it to model. Refactor code.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Camera rework and attach it to model. Refactored some code.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Small misunderstanding on who was refactoring certain code. But oh wells. 
    | Going to refactor more code this week anyways, especially after the big merge.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Refactor classes, help Tiffany make hats and create stage, and whatever
    | pops up that needs to be done. Like bug fixes.

  h6(class='subtitles') Morale
  p
    | - Thing feel slow and we have to pick up the pace. Worried that AJ is
    | gonna explode from stress.
  img(src='https://media.giphy.com/media/S1Yx2hooxgHpS/giphy.gif', class='img-rounded')

  br  
