extends ../report.jade

block report
  h2 Cindy's reports
  h3(class='titles') Week 7
  h6(class='subtitles') Concrete Goals
  p
    | - Refactor classes, help Tiffany make hats and create stage, and whatever
    | pops up that needs to be done. Like bug fixes. Fix lighting issues.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Classes have been refactored. Movements are now relative to camera.
    | Created a stage with an awesome billboard.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | -Did not receive list of hats to make until later. At that point, I was 
    | busy trying to figure out why some objects in the stage I made did not 
    | have physics when I loaded it to the game. Still needs to fix that. 
    | Lighting has not been fixed yet. Too much shader code to read through and 
    | need to review my geometry.
    
  h6(class='subtitles') Goals for Next Week 
  p
    | - Fix lighting with Tim. Research and implement UI for the game. Fix the
    | physics issue with the stage.

  h6(class='subtitles') Morale
  p
    | - Made stage in 5 hours after not touching Maya in forever. Much faster 
    | than expected. Glad I am not totally horrible now. The todo list on 
    | Trello is shrinking, thank goodness, so now I can breathe! :D
  img(src='https://45.media.tumblr.com/18cdb1bd156307a5e1a9eb42134e6ec3/tumblr_ntilg9nw861tq2im0o1_r1_500.gif', class='img-rounded')

  br  
