extends ../report.jade

block report
  h2 Cindy's reports
  h3(class='titles') Week 8
  h6(class='subtitles') Concrete Goals
  p
    | - Fix lighting with Tim. Research and implement UI for the game. Fix the 
    | physics issue with the stage. Model hats.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Set up UI for game. Created menu screens which included the splash 
    | screen, lobby, and end game screen. Modeled a ton of hats.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Was focused on modeling and creating UI that we moved fixing lighting to
    | low priority. Tried fixing the physics issue but no matter what I did,
    | it did not fix it. Going to do something else. Sad life.
    
  h6(class='subtitles') Goals for Next Week 
  p
    | - Fix lighting. Create pretty shaders. Figure out volumetric clouds with
    | Tim. Add text rendering to overlay game screen. Fine tune graphics 
    | related things so that we don’t embarrass ourselves at the demo next Friday.

  h6(class='subtitles') Morale
  p
    | - Got a lot of stuff done and we were able to move things from our Trello to the “done” section! :D So feeling good so far.
  img(src='https://media.giphy.com/media/YFIn0ICJFwGNa/giphy.gif', class='img-rounded')

  br  
