extends ../report.jade

block report
  h2 Cindy's reports
  h3(class='titles') Week 3
  h6(class='subtitles') Concrete Goals
  p
    | - Setup camera, setup scene graph
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Setup camera, setup scene graph. Other things popped up as well. 
    | Fixed model loader to be texture agnostic. Added hashtable to store models but was later scrapped. Oh wells.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Figure out the reason the light position seems to be fixed to the 
    | model, whether it is a shader issue or something else. Set up a basic 
    | world (i.e. skybox and floor).

  h6(class='subtitles') Morale
  p
    | - Lot of stuff got done so that’s good. But got sick the day after 
    | getting attacked by tiny kids with water guns, water balloons, and 
    | pointy toy dinosaurs. So morale at the moment is meh. But a meh 
    | leaning towards good.
  img(src='https://kidfromthe6ix.files.wordpress.com/2014/11/im-sick.gif', class='img-rounded')

  br  
