extends ../report.jade

block report
  h2 Cindy's reports
  h3(class='titles') Week 4
  h6(class='subtitles') Concrete Goals
  p
    | - Figure out the reason the light position seems to be fixed to the model,
    | whether it is a shader issue or something else. Set up a basic world (i.e. skybox and floor).
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Have a floor set up and halfway done setting up skybox. Got the texture 
    | loading stuff done. But need to test it once the rest of the code is written.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Was completely out most of the week because of my cold, which the doctor
    | said was not mono or strep throat but a viral infection so antibiotics was
    | not going to make me magically feel better. Spent most of the week in pain,
    | drinking lots of fluids and sleeping.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Finish all my goals from last week, work more with the server people on 
    | server integration and whatever needs to be done on the graphic sides that pops up.

  h6(class='subtitles') Morale
  p
    | -The stabbing pain in my throat is gone but still have a hoarse voice and 
    | minor cough. Besides that I am pretty healthy again I guess. So this makes
    | my morale a bit better. But feeling behind because I was out all week. So
    | in a slight state of panic. Though I am trying to stay calm...
  img(src='https://media.giphy.com/media/em7vuvc090LpC/giphy.gif', class='img-rounded')

  br  
