extends ../report.jade

block report
  h2 Cindy's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p
    | - Finish setting up the world as in add a floor and skybox. Work more with server integration.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - World has been set up with a very high def skybox. Learned a bit more of 
    | how the server stuff worked. Started redoing camera to be more dynamic 
    | and update based on the model’s movements.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Finish camera rework and try attaching it to a model to see if it 
    | updates correctly. Try different camera setups. Refactor codes that 
    | involves models to pass references instead of always reloading the models 
    | when new mangos are created.

  h6(class='subtitles') Morale
  p
    | - I am not longer sick. I think. My voice still sounds weird but I am 
    | starting to forget what I used to sound like… Besides that work is getting
    | done finally. So… Yay! Let’s hope this continues… 
  img(src='http://66.media.tumblr.com/3cb38dd597e36234cf326dffc6c52abb/tumblr_nie9s9CrHe1ti02dwo8_250.gif', class='img-rounded')

  br  
