extends ../report.jade

block report
  h2 Cindy's reports
  h3(class='titles') Week 9
  h6(class='subtitles') Concrete Goals
  p
    | - Fix lighting. Create pretty shaders. Figure out volumetric clouds with 
    | Tim. Add text rendering to overlay game screen. Fine tune graphics related 
    | things so that we don’t embarrass ourselves at the demo.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Lighting is fixed, as in we get rid of complicated lighting so it looked
    | more cartoony like our game. Clouds are there (Thank you Tim). Text does
    | work and I have created some UI for the players such has a health bar and
    | icons to represent lives. 
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Had no time to look into pretty shaders. Fine tuning is still a work in progress.
    
  h6(class='subtitles') Goals for Next Week 
  p
    | - Everything. As well as convincing people to go to Harry Potter World or Disneyland with me.
    
  h6(class='subtitles') Goals for Next Week 
  p
    | - Everything
    
  h6(class='subtitles') Morale
  p
    | - Exhausted from the little sleep. Kind of bummed about life. Need lots of caffeine.
  img(src='http://www.theprospect.net/wp-content/uploads/2013/08/coffee-time.gif', class='img-rounded')

  br  
