extends ../report.jade

block report
  h2 Tiffany's reports
  h3(class='titles') Week 3
  h6(class='subtitles') Concrete Goals
  p
    | - Finish mango
    br
    | - More Concept art
    br
    | - Start modeling character and do skeleton rigging
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Finished the mango!
    br
    | - Starting on character modeling
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - I just feel a bit behind, but I’ve more or less touched on all the goals.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Finish character modeling and skeleton rigging
    br
    | - Start on skybox
    br
    | - Start on hats?

  h6(class='subtitles') Morale
  p
    | - A little behind, but pretty confident

  br
