extends ../report.jade

block report
  h2 Tiffany's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p
    | - Finish skeleton rigging
    br
    | - Polish character model and start on animation or start modeling hats, 
    | depending on the needs of the team
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Finished skeleton rigging
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - The most important goal was to finish the skeleton rig, but I kind of 
    | wish it didn’t take me as long as it did. A good portion of the time went 
    | to testing out different tutorials before I finally set on using the 
    | premade HumanIK skeleton, which was a lot more convenient to work with!

  h6(class='subtitles') Goals for Next Week 
  p
    | - Start modeling hats


  h6(class='subtitles') Morale
  p
    | - Good

  br
