extends ../report.jade

block report
  h2 Tiffany's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p
    | - Animate character
    br
    | - Start modeling hats
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Animated character
    br
    | - Start modeling hats
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Model more hats
    br
    | - Add hats to character


  h6(class='subtitles') Morale
  p
    | - Good
  img(src='../img/tiffany_week6.png', class='img-rounded')

  br
