extends ../report.jade

block report
  h2 Tiffany's reports
  h3(class='titles') Week 9
  h6(class='subtitles') Concrete Goals
  p
    | - Add skin texture to the model
    br
    | - Add more animations as necessary
   
  h6(class='subtitles') Goals Accomplished
  p
    | - Add skin texture to the model
    br
    | - Add more animations as necessary
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - I’m on a roll this week (at least compared to before)!
    
  h6(class='subtitles') Goals for Next Week 
  p
    | - More animations (animations with props)

  h6(class='subtitles') Morale
  p
    | - High

  img(src='../img/tiffany_week9_1.png', class='img-rounded')
  img(src='../img/tiffany_week9_2.png', class='img-rounded')
  br
