extends ../report.jade

block report
  h2 Tiffany's reports
  h3(class='titles') Week 4
  h6(class='subtitles') Concrete Goals
  p
    | - Model basic character
    br
    | - Add skeleton and rigging
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Modeled basic character
    br
    | - Added skeleton but no rigging
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - I had a skeleton bound to the model, but there were some errors with it
    |  not being bound correctly, and at the time I did not implement limits to 
    | how the limbs should move. Thus, I remade the skeleton and have yet to 
    | rig it. I also have a midterm due for my senior project that requires a 
    | lot of time-consuming work. Once I finish I will get right back into rigging the model!

  h6(class='subtitles') Goals for Next Week 
  p
    | - Finish skeleton rigging
    br
    | - Polish character model and start on animation or start modeling hats, 
    | depending on the needs of the team


  h6(class='subtitles') Morale
  p
    | - Determined to finish my midterm and catch up ASAP!
  img(src='../img/tiffany_week4.jpg', class='img-rounded')

  br
