extends ../report.jade

block report
  h2 Timothy's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p
    | - Have some skeleton animation working  
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Was able to get FBX file to animate :D
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Was able to get someone else’s FBX to run but not ours as our FBX file got messed up

  h6(class='subtitles') Goals for Next Week 
  p
    | - Animate our own model
    br
    | - Refactor code to make it cleaner
    br
    | - Attaching/ Detaching Hats

  h6(class='subtitles') Morale
  p
    | - Game development going to need to RAMP UP now but happy that animation is working
  img(src='http://media1.giphy.com/media/yiUg3Rhit3FcY/giphy.gif', class='img-rounded')

  br
