extends ../report.jade

block report
  h2 Timothy's reports
  h3(class='titles') Week 9
  h6(class='subtitles') Concrete Goals
  p
    | - Integrate our model with animations
    br
    | - Look into UI elements (text rendering)
    br
    | - Fix up lighting
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Was able to integrate our own model
    br
    | - Got clouds to render
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Lighting was removed since it made our model look weird

  h6(class='subtitles') Morale
  p
    | - It’s game time this week :D
    
  br
