extends ../report.jade

block report
  h2 Timothy's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p
    | - Have some skeleton animation working
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Have bones loaded, but not transformed correctly
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - In general, having trouble getting animation to work with shaders.
    | Been collaborating with the other team but still having trouble

  h6(class='subtitles') Goals for Next Week 
  p
    | - Actually have animation working  :/

  h6(class='subtitles') Morale
  p
    | - What we should have this some day T_T
  img(src='https://media.giphy.com/media/iikoZ0QZi9Wso/giphy.gif', class='img-rounded')

  br
