extends ../report.jade

block report
  h2 Timothy's reports
  h3(class='titles') Week 8
  h6(class='subtitles') Concrete Goals
  p
    | - Integrate our model with animations
    br
    | - Look into UI elements (text rendering)
    br
    | - Fix up lighting
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Able to render our own model
    br
    | - Refactored our code to take into consideration UI
    br
    | - Added UI component
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Was working on polishing the app

  h6(class='subtitles') Goals for Next Week 
  p
    | - Try to get Volumetric clouds to make building look like it’s in the sky
    br
    | - Polish the app 

  h6(class='subtitles') Morale
  p
    | - Things are going well and caffeine was dealt
  img(src='https://media.giphy.com/media/FElR3ylsj6PTy/giphy.gif', class='img-rounded')

  br
