extends ../report.jade

block report
  h2 Timothy's reports
  h3(class='titles') Week 7
  h6(class='subtitles') Concrete Goals
  p
    | - Animate our own model
    br
    | - Refactor code to make it cleaner
    br
    | - Attaching/ Detaching Hats
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Attach/Detaching Hat implemented
    br
    | - Refactored the animation code to be cleaner
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Wasn’t able to use our own model yet since the model didn’t load properly in assimp

  h6(class='subtitles') Goals for Next Week 
  p
    | - Integrate our model with animations
    br
    | - Look into UI elements (text rendering)
    br
    | - Fix up lighting

  h6(class='subtitles') Morale
  p
    | -  The game is coming together :D

  br
