extends ../report.jade

block report
  h2 Timothy's reports
  h3(class='titles') Week 3
  h6(class='subtitles') Concrete Goals
  p
    | - Setup the shaders with directional lighting
    br
    | - Work on getting the mango working with our OBJ loader
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Directional lighting is setup
    br
    | - Got the mango working with our model loader
    br
    | - Helped a bit with integrating new graphics code with server code
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Have some skeleton animation working

  h6(class='subtitles') Morale
  p
    | - Going smoothly so far, glad that the merging wasn’t too bad

  br
