extends ../report.jade

block report
  h2 Timothy's reports
  h3(class='titles') Week 4
  h6(class='subtitles') Concrete Goals
  p
    | - Have some skeleton animation working
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Got an FBX file loaded
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Can load other people’s FBX files but not ours :(
    br 
    | - Animation in general is harder than expected

  h6(class='subtitles') Goals for Next Week 
  p
    | - Have some skeleton animation working

  h6(class='subtitles') Morale
  p
    | - Might need some caffeine, animation … >.>

  br
