extends ../report.jade

block report
  h2 Eduardo's reports
  h3(class='titles') Week 8
  h6(class='subtitles') Concrete Goals
  p
    | - Refine the functionality of hats (Define what a hat is in our game and 
    | what behavior it does)
    br
    | - Refactor code
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Both of the above
    br
    | - Discussed more gameplay with victor to have a better idea of player gameplay
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Create more of the concrete hat classes
    br 
    | - Refine controls of player with when a hat is equipped

  h6(class='subtitles') Morale
  p
    | - no giphy week

  br
