extends ../report.jade

block report
  h2 Eduardo's reports
  h3(class='titles') Week 9
  h6(class='subtitles') Concrete Goals
  p
    | - Assist with sound integration
    br
    | - Refactor code
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Above, but was unable to contribute as much as usual.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Had a busy week due to final project for another course.

  h6(class='subtitles') Morale
  p
    | - eggcited

  br
