extends ../report.jade

block report
  h2 Eduardo's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p
    | - Finish dynamic body controllers or find a better alternative in order to get
    | a good design going
    
  h6(class='subtitles') Goals Accomplished
  p
    | - The entire dynamic controller thing is way harder than I expected, seems like
    | people have tried and failed. A few examples I saw that successfully did it, seemed
    | to embed the system very deeply into their design so it was hard to mimic it.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Above, and went camping to Joshua Tree this weekend.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Another tackle at dynamic body controllers (or suggest an alternative to game design guys)
    | - Implement player respawning, and stock.

  h6(class='subtitles') Morale
  p
    | - Relaxed, but ready for the ramp up.
  img(src='https://media.giphy.com/media/KVY9rqxb8U4X6/giphy.gif', class='img-rounded')

  br
