extends ../report.jade

block report
  h2 Eduardo's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p
    | - Begin designing the logic for hats, maybe pair with victor since he is 
    | doing the combat system.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Created the basic system for shooting objects.
    br 
    | - Began looking into controllable bodies to have better movement within
    | the world. We had to begin doing this now, since it became interconnected
    | to the shooting design (orientation and direction)
    br
    | - Bullet is pretty lame and confusing for dealing with the dynamic body controllers.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Brian took the lead into the hats and game object creation so I decided
    | to do shooting instead.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Finish dynamic body controllers or find a better alternative in order to get
    | a good design going

  h6(class='subtitles') Morale
  p
    | - On the rise.
  img(src='https://media.giphy.com/media/b6iVj3IM54Abm/giphy.gif', class='img-rounded')

  br
