extends ../report.jade

block report
  h2 Eduardo's reports
  h3(class='titles') Week 3
  h6(class='subtitles') Concrete Goals
  p
    | - Look into bullet
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Helped set up google protobufs into the project
    br
    | - Helped restructure the network to include the first phase of the server
    | minimum number of players, and skeleton for server phase 2 (init game)
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - n/a

  h6(class='subtitles') Goals for Next Week 
  p
    | - Continue looking into bullet
    br
    | - Start introducing game logic/game elements

  h6(class='subtitles') Morale
  p
    | - better
  img(src='https://media.giphy.com/media/7EamSGumESd0Y/giphy.gif', class='img-rounded')

  br
