extends ../report.jade

block report
  h2 Eduardo's reports
  h3(class='titles') Week 7
  h6(class='subtitles') Concrete Goals
  p
    | - Another tackle at dynamic body controllers
    br
    | - Implement player respawning, and stock.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Both of the above
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Refine game, speficially hat functionality

  h6(class='subtitles') Morale
  p
    | - Cool
  img(src='https://media.giphy.com/media/RtqWT1eM137os/giphy.gif', class='img-rounded')

  br
