extends ../report.jade

block report
  h2 Victor's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p
    | - Design Combat System
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Implemented bullet mechanics and set up framework for controllable objects in bullet
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - The combat system is limited by what we can do in the world

  h6(class='subtitles') Goals for Next Week 
  p
    | - Finish controllable objects and basic hat interaction

  h6(class='subtitles') Morale
  p
    | - 7.6

  br
