extends ../report.jade

block report
  h2 Victor's reports
  h3(class='titles') Week 9
  h6(class='subtitles') Concrete Goals
  p
  | - Spawn is now based on spawn points rather than a fixed point.
  br
  | - Aided in implementation of hats like the deerstalker hat and the bear one.
  br
  | - Found Sounds
    
  h6(class='subtitles') Goals Accomplished
  p
    | Above
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - None

  h6(class='subtitles') Morale
  p
    | - 8

  br
