extends ../report.jade

block report
  h2 Victor's reports
  h3(class='titles') Week 7
  h6(class='subtitles') Concrete Goals
  p
    | - Finish controllable objects and basic hat interaction
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Finish controllable objects and basic hat interaction and other stuff
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - It’s all good.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Refine movement and combat

  h6(class='subtitles') Morale
  p
    | - 7.99

  br
