extends ../report.jade

block report
  h2 Victor's reports
  h3(class='titles') Week 4
  h6(class='subtitles') Concrete Goals
  p
    | - Implement Controller and beat Dark Souls 3
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Controller was implemented probably.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - I’m trying, it’s a difficult game and I’ve been busy. Also I think I’m in the wrong area.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Actually design combat system.

  h6(class='subtitles') Morale
  p
    | - 7.5

  br
