extends ../report.jade

block report
  h2 Victor's reports
  h3(class='titles') Week 3
  h6(class='subtitles') Concrete Goals
  p
    | - Implement Basic Physics
    
  h6(class='subtitles') Goals Accomplished
  p
    | - The above and helped implement serialization
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Beat dark souls 3 and implement controls maybe

  h6(class='subtitles') Morale
  p
    | - 7.1

  br
