extends ../report.jade

block report
  h2 Victor's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p
    | - Finish controllable objects and basic hat interaction
    
  h6(class='subtitles') Goals Accomplished
  p
    | - None, my bad.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - Needed to take a break and step away from things. Won’t happen again.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Finish controllable objects and basic hat interaction

  h6(class='subtitles') Morale
  p
    | - 7.9

  br
