extends ../report.jade

block report
  h2 Brian's reports
  h3(class='titles') Week 5
  h6(class='subtitles') Concrete Goals
  p
    | - Convert the knowledge to actual implementation
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Using the knowledge I gained in Bullet physics engine, I helped 
    | implementing the item drops. We now have the ability to drop mangos whenever we want to.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Now that I have the basic understanding of Bullet physics engine, I 
    | started implementing classes and functions related to physics and 
    | gameplay. I am planning to continue to help implementing the gameplay.

  h6(class='subtitles') Morale
  p
    | - MAX

  br
