extends ../report.jade

block report
  h2 Brian's reports
  h3(class='titles') Week 4
  h6(class='subtitles') Concrete Goals
  p
    | - Continue to learn Bullet
    
  h6(class='subtitles') Goals Accomplished
  p
    | - I referred to the Bullet Wiki page and followed their example line by 
    | line, trying to understand each line and also made a sample project on my
    | own to make sure that I can apply what I’m learning.
    br
    | - I feel that I have the basic understanding of how Bullet works. 
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - I was not able to make much progress as I expected because there are a 
    | lot more things going on underneath Bullet than I imagined.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Since I feel that I have the very basics of how Bullet works, I’m going 
    | to connect the dots with our project and create a list of features that might be useful for the game.

  h6(class='subtitles') Morale
  p
    | Could be better due to fatigue

  br
