extends ../report.jade

block report
  h2 Brian's reports
  h3(class='titles') Week 9
  h6(class='subtitles') Concrete Goals
  p
    | -
    
  h6(class='subtitles') Goals Accomplished
  p
    | -
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | -
  
  h6(class='subtitles') Morale
  p
    | -

  br
