extends ../report.jade

block report
  h2 Brian's reports
  h3(class='titles') Week 6
  h6(class='subtitles') Concrete Goals
  p
    | - Finish implementing game logics related to items(hats)
    br
    | - Make the item disappear after a certain amount of time
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Started merging my branch which contains the item class to master
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - I did a poor job managing my time, and could not allocate much time.

  h6(class='subtitles') Goals for Next Week 
  p
    | - Since we are aiming to come up with a MVP, I am planning to dedicate
    | most of my time this week implementing the item disappearing logic and 
    | further take this to items disappearing when players pick up the item

  h6(class='subtitles') Morale
  p
    | - okay

  br
