extends ../report.jade

block report
  h2 Brian's reports
  h3(class='titles') Week 3
  h6(class='subtitles') Concrete Goals
  p
    | - Learn and master Bullet
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Started learning about Bullet
    br
    | - Helped test the new client-server model we implemented
    br
    | - Helped troubleshoot the lag between the client and the server
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - We decided that implementing physics should be given a higher priority 
    | than setting up the network logging mechanism

  h6(class='subtitles') Goals for Next Week 
  p
    | - Understand the basics of Bullet and come up with a list of features 
    | that can be applied to our project

  h6(class='subtitles') Morale
  p
    | Max

  br
