extends ../report.jade

block report
  h2 Brian's reports
  h3(class='titles') Week 8
  h6(class='subtitles') Concrete Goals
  p
    | - Implement floating items, hats, and objects.
    
  h6(class='subtitles') Goals Accomplished
  p
    | - Helped export the Wizard hat from Maya to Bullet object.
    br
    | - Implemented one method to make the item float in the air, but still needs improvement.
    
  h6(class='subtitles') Reasons for Unaccomplished Goals
  p
    | - N/A

  h6(class='subtitles') Goals for Next Week 
  p
    | - Figure out a way to apply different gravity or constant force so that 
    | certain objects can be isolated from the gravity of the world so that we 
    | can have floating objects.

  h6(class='subtitles') Morale
  p
    | - Okay

  br
